In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
2**2

4

In [8]:
basu = 23

In [9]:
janu = 24

In [10]:
basu + janu

47

In [12]:
zen3 =  basu+janu

In [13]:
print(zen3)

47

In [14]:
2%4

2

In [15]:
4%2

0

In [16]:
4%%2

SyntaxError: invalid syntax (<ipython-input-16-181036e69def>, line 1)

In [18]:
num = 23
name = "basu"

In [21]:
data = "my name is {} and my number is {}".format(name,num)

In [22]:
print(data)

my name is basu and my number is 23

In [23]:
x = "hello world"

In [26]:
x[3:]

'lo world'

In [28]:
x[6:]

'world'

In [31]:
x[3:5]

'lo'

In [33]:
saru = ["a", "b","c"]

In [34]:
saru

['a', 'b', 'c']

In [44]:
saru.append(["d","e","f",["target"]])

In [73]:
saru

['old_one', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [46]:
saru[2] = "new_one"

In [47]:
print(saru)

['a', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [48]:
saru[2][4:]

'one'

In [51]:
print(saru[4][3][0])

target

In [56]:
dicti = {"k1" : "value1", "k2" : ["value2", {"k3" : "value3"}]}

In [57]:
print(dicti)

{'k1': 'value1', 'k2': ['value2', {'k3': 'value3'}]}

In [64]:
print(dicti["k2"][1]["k3"])

value3

In [65]:
print(saru)

['a', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [66]:
saru[0]= "old_one"

In [67]:
print(saru)

['old_one', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [68]:
bro = ("one", "two" , "three", "four", "six")

In [69]:
print(bro)

('one', 'two', 'three', 'four', 'six')

In [70]:
bro[4]

'six'

In [71]:
bro[4] = "five"

TypeError: 'tuple' object does not support item assignment

In [77]:
dude = set([1,2,3,4,5,6])

In [79]:
dude.add(7)

In [83]:
print(dude)

{1, 2, 3, 4, 5, 6, 7}

In [81]:
dude

{1, 2, 3, 4, 5, 6, 7}

In [84]:
2>3

False

In [85]:
3>2

True

In [86]:
"hi" == "hi"

True

In [87]:
"hi" != "hi"

False

In [88]:
if 1 < 2:
    print("hi basu")

hi basu

In [89]:
if 1!=1:
    print("hello keshav")

In [90]:
if True:
    print("hello keshav")

hello keshav

In [91]:
if False:
    print("hello dear")

In [92]:
a = 12345678910

In [93]:
b = 12345678910

In [95]:
if a == b:
    print(a+b)

24691357820

In [96]:
c = 1234567891011

In [97]:
if a != c:
    print(b-c)

-1222222212101

In [105]:
if a!=b:
    print(a+b+c)
elif a==c:
    print(b-c)
else:
    print("basu")

basu

In [106]:
seq = ["a", "b", "c", "d"]

In [107]:
if a == a:
    for i in seq:
        print(i)

a
b
c
d

In [111]:
if 2>=1:
    for i in seq:
        print(i)

a
b
c
d

In [113]:
iot = 5

while iot < 10:
    print("AI is better than iot {}".format(iot))
    iot = iot+1

AI is better than iot 5
AI is better than iot 6
AI is better than iot 7
AI is better than iot 8
AI is better than iot 9

In [114]:
range(0,20)

range(0, 20)

In [115]:
print(range(0,20))

range(0, 20)

In [116]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [119]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [134]:
x = list(range(0,10))

In [144]:
y = []

In [136]:
for i in x:
    y.append(i**2)

In [137]:
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [139]:
y = [i**2 for i in x]

In [140]:
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [145]:
for i in x:
    y.append(i**2)

In [146]:
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [147]:
z = [i**2 for i in x]

In [148]:
print(z)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [149]:
def say_hello(name = "default_name"):
    print("hello " + name)

In [150]:
say_hello()

hello default_name

In [153]:
say_hello(name = "Janu")

hello Janu

In [154]:
say_hello("Janu")

hello Janu

In [167]:
def div_num(a,b):
    """
    IT BASICALLY DIVIDES ANY TWO GIVEN NUMBERS AND GIVES THE REMINDER
    """
    print(a%b)

In [168]:
div_num(a=10,b=5)

0

In [169]:
div_num(10,9)

1

In [163]:
def div(num):
    """
    THIS IS A DOCSTRING WHICH RUNS MULTIPLE TIMES
    """
    return num%2

In [164]:
div(9)

1

In [165]:
div(num = 10)

0

In [171]:
div

In [170]:
div_num

In [178]:
def times2(num):
    return num**2

In [179]:
times2(5)

25

In [180]:
seq1 = [1,2,3,4,5]

In [183]:
seq2= [i**2 for i in seq1]

In [184]:
seq2

[1, 4, 9, 16, 25]

In [187]:
list(map(times2,seq1))

[1, 4, 9, 16, 25]

In [209]:
list(map(lambda adm: adm-2, seq1))

[-1, 0, 1, 2, 3]

In [210]:
def sub(bu):
    return bu-2

In [212]:
sub(1)

-1

In [199]:
list(map(sub,seq2))

[-1, 2, 7, 14, 23]

In [200]:
list(map(lambda adm: adm+1, seq2))

[2, 5, 10, 17, 26]

In [214]:
bu = lambda cool: cool%2

In [215]:
bu(2)

0

In [216]:
bu(5)

1

In [217]:
list((map(lambda ply: ply%2 == 0, seq2)))

[False, True, False, True, False]

In [218]:
list((filter(lambda ply: ply%2 == 0, seq2)))

[4, 16]

In [272]:
def div(k):
    """
    i just tried building an "filter" fumction
    
    """
    if type(k)== list:
        for i in k:
            if i%2 == 0:
                print(i)
    elif k%2 == 0:
        return k

In [271]:
div(seq2)

4
16

In [277]:
s = "My Name iS$ #bASU"

In [278]:
s.split()

['My', 'Name', 'iS$', '#bASU']

In [279]:
s.upper()

'MY NAME IS$ #BASU'

In [280]:
s.lower()

'my name is$ #basu'

In [281]:
"x" in [1,2,3,["x", "y", "z"]]

False

In [282]:
"x" in [1,2,3]

False

In [283]:
"x" in ["x", "y", "z"]

True

In [284]:
x = [(1,2),(3,4),(5,6)]

In [285]:
x[0][1]

2

In [287]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [288]:
for a,b in x:
    print(a)

1
3
5

In [289]:
for a,b in x:
    print(b)

2
4
6

In [290]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [293]:
def countDog(s):
    count = 0
    for word in s.lower().split():
        if word == "dog":
            count += 1
    return count

In [294]:
countDog("Dog is a faithful animal")

1

In [295]:
countDog("there is no DOG behind that DoG you Dirty dog")

3

In [477]:
def no_S(X):
    if type(X) == list:
        for word in X:
            if word[0] == "s":
                print(word)
        return X

In [478]:
dad = ["soup", "soap", "basu", "janu", "sambar"]

In [479]:
mom = no_S(dad)

soup
soap
sambar

In [481]:
list(filter(lambda word: word[0] == "s", dad))

['soup', 'soap', 'sambar']

### OOPS Practice

In [493]:
class play_station:
    
    def features_4(self):
        print("intel_processor, 32_gb RAM, 10_gb Graphic Card")
    
    def start(self):
        print("press the start key")

In [500]:
ps_4 = play_station()

In [501]:
play_station.features_4(ps_4)

intel_processor, 32_gb RAM, 10_gb Graphic Card

In [502]:
print(type(ps_4))

<class '__main__.play_station'>

In [503]:
play_station.start(ps_4)

press the start key

In [499]:
ps_4.features_4()

intel_processor, 32_gb RAM, 10_gb Graphic Card

In [504]:
ps_4.start()

press the start key

In [505]:
ps_4_pro = play_station()

In [506]:
play_station.start(ps_4_pro)

press the start key