In [1]:
1

1

In [2]:
1.0

1.0

In [3]:
1+1

2

In [4]:
1*3

3

In [5]:
1/2

0.5

In [6]:
2**4

16

In [7]:
2**2

4

In [8]:
basu = 23

In [9]:
janu = 24

In [10]:
basu + janu

47

In [12]:
zen3 =  basu+janu

In [13]:
print(zen3)

47

In [14]:
2%4

2

In [15]:
4%2

0

In [16]:
4%%2

SyntaxError: invalid syntax (<ipython-input-16-181036e69def>, line 1)

In [18]:
num = 23
name = "basu"

In [21]:
data = "my name is {} and my number is {}".format(name,num)

In [22]:
print(data)

my name is basu and my number is 23

In [23]:
x = "hello world"

In [26]:
x[3:]

'lo world'

In [28]:
x[6:]

'world'

In [31]:
x[3:5]

'lo'

In [33]:
saru = ["a", "b","c"]

In [34]:
saru

['a', 'b', 'c']

In [44]:
saru.append(["d","e","f",["target"]])

In [73]:
saru

['old_one', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [46]:
saru[2] = "new_one"

In [47]:
print(saru)

['a', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [48]:
saru[2][4:]

'one'

In [51]:
print(saru[4][3][0])

target

In [56]:
dicti = {"k1" : "value1", "k2" : ["value2", {"k3" : "value3"}]}

In [57]:
print(dicti)

{'k1': 'value1', 'k2': ['value2', {'k3': 'value3'}]}

In [64]:
print(dicti["k2"][1]["k3"])

value3

In [65]:
print(saru)

['a', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [66]:
saru[0]= "old_one"

In [67]:
print(saru)

['old_one', 'b', 'new_one', ['d', 'e', 'f'], ['d', 'e', 'f', ['target']]]

In [68]:
bro = ("one", "two" , "three", "four", "six")

In [69]:
print(bro)

('one', 'two', 'three', 'four', 'six')

In [70]:
bro[4]

'six'

In [71]:
bro[4] = "five"

TypeError: 'tuple' object does not support item assignment

In [77]:
dude = set([1,2,3,4,5,6])

In [79]:
dude.add(7)

In [83]:
print(dude)

{1, 2, 3, 4, 5, 6, 7}

In [81]:
dude

{1, 2, 3, 4, 5, 6, 7}

In [84]:
2>3

False

In [85]:
3>2

True

In [86]:
"hi" == "hi"

True

In [87]:
"hi" != "hi"

False

In [88]:
if 1 < 2:
    print("hi basu")

hi basu

In [89]:
if 1!=1:
    print("hello keshav")

In [90]:
if True:
    print("hello keshav")

hello keshav

In [91]:
if False:
    print("hello dear")

In [92]:
a = 12345678910

In [93]:
b = 12345678910

In [95]:
if a == b:
    print(a+b)

24691357820

In [96]:
c = 1234567891011

In [97]:
if a != c:
    print(b-c)

-1222222212101

In [105]:
if a!=b:
    print(a+b+c)
elif a==c:
    print(b-c)
else:
    print("basu")

basu

In [106]:
seq = ["a", "b", "c", "d"]

In [107]:
if a == a:
    for i in seq:
        print(i)

a
b
c
d

In [111]:
if 2>=1:
    for i in seq:
        print(i)

a
b
c
d

In [113]:
iot = 5

while iot < 10:
    print("AI is better than iot {}".format(iot))
    iot = iot+1

AI is better than iot 5
AI is better than iot 6
AI is better than iot 7
AI is better than iot 8
AI is better than iot 9

In [114]:
range(0,20)

range(0, 20)

In [115]:
print(range(0,20))

range(0, 20)

In [116]:
list(range(0,20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [119]:
for i in range(0,20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [134]:
x = list(range(0,10))

In [144]:
y = []

In [136]:
for i in x:
    y.append(i**2)

In [137]:
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [139]:
y = [i**2 for i in x]

In [140]:
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [145]:
for i in x:
    y.append(i**2)

In [146]:
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [147]:
z = [i**2 for i in x]

In [148]:
print(z)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [149]:
def say_hello(name = "default_name"):
    print("hello " + name)

In [150]:
say_hello()

hello default_name

In [153]:
say_hello(name = "Janu")

hello Janu

In [154]:
say_hello("Janu")

hello Janu

In [167]:
def div_num(a,b):
    """
    IT BASICALLY DIVIDES ANY TWO GIVEN NUMBERS AND GIVES THE REMINDER
    """
    print(a%b)

In [168]:
div_num(a=10,b=5)

0

In [169]:
div_num(10,9)

1

In [163]:
def div(num):
    """
    THIS IS A DOCSTRING WHICH RUNS MULTIPLE TIMES
    """
    return num%2

In [164]:
div(9)

1

In [165]:
div(num = 10)

0

In [171]:
div

In [170]:
div_num

In [178]:
def times2(num):
    return num**2

In [179]:
times2(5)

25

In [180]:
seq1 = [1,2,3,4,5]

In [183]:
seq2= [i**2 for i in seq1]

In [184]:
seq2

[1, 4, 9, 16, 25]

In [187]:
list(map(times2,seq1))

[1, 4, 9, 16, 25]

In [209]:
list(map(lambda adm: adm-2, seq1))

[-1, 0, 1, 2, 3]

In [210]:
def sub(bu):
    return bu-2

In [212]:
sub(1)

-1

In [199]:
list(map(sub,seq2))

[-1, 2, 7, 14, 23]

In [200]:
list(map(lambda adm: adm+1, seq2))

[2, 5, 10, 17, 26]

In [214]:
bu = lambda cool: cool%2

In [215]:
bu(2)

0

In [216]:
bu(5)

1

In [217]:
list((map(lambda ply: ply%2 == 0, seq2)))

[False, True, False, True, False]

In [218]:
list((filter(lambda ply: ply%2 == 0, seq2)))

[4, 16]

In [272]:
def div(k):
    """
    i just tried building an "filter" fumction
    
    """
    if type(k)== list:
        for i in k:
            if i%2 == 0:
                print(i)
    elif k%2 == 0:
        return k

In [271]:
div(seq2)

4
16

In [277]:
s = "My Name iS$ #bASU"

In [278]:
s.split()

['My', 'Name', 'iS$', '#bASU']

In [279]:
s.upper()

'MY NAME IS$ #BASU'

In [280]:
s.lower()

'my name is$ #basu'

In [281]:
"x" in [1,2,3,["x", "y", "z"]]

False

In [282]:
"x" in [1,2,3]

False

In [283]:
"x" in ["x", "y", "z"]

True

In [284]:
x = [(1,2),(3,4),(5,6)]

In [285]:
x[0][1]

2

In [287]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [288]:
for a,b in x:
    print(a)

1
3
5

In [289]:
for a,b in x:
    print(b)

2
4
6

In [290]:
for a,b in x:
    print(a)
    print(b)

1
2
3
4
5
6

In [293]:
def countDog(s):
    count = 0
    for word in s.lower().split():
        if word == "dog":
            count += 1
    return count

In [294]:
countDog("Dog is a faithful animal")

1

In [295]:
countDog("there is no DOG behind that DoG you Dirty dog")

3

In [477]:
def no_S(X):
    if type(X) == list:
        for word in X:
            if word[0] == "s":
                print(word)
        return X

In [478]:
dad = ["soup", "soap", "basu", "janu", "sambar"]

In [479]:
mom = no_S(dad)

soup
soap
sambar

In [481]:
list(filter(lambda word: word[0] == "s", dad))

['soup', 'soap', 'sambar']

# OOPS Practice

### why self: - After assigning the class to an object, Whenever you are passing an "n" argument to an object inside any method, indeed you are passing "n+1" atguments to that method. It means, actually you have to pass your object as itself a variable/argument to that method according to the syntax. 
### Let's take in reality, you have created 2 objects. Each object will have it's own variables. Whatever the values you give in those arguments/variables, they will be assigned to the objects itself. That's why we use "self" as an argument in the method. And even for getting allocated space automatically by the constructor in the "heap memory"

In [493]:
class play_station:
    
    def features_4(self):
        print("intel_processor, 32_gb RAM, 10_gb Graphic Card")
    
    def start(self):
        print("press the start key")

In [500]:
ps_4 = play_station()

In [501]:
play_station.features_4(ps_4)

intel_processor, 32_gb RAM, 10_gb Graphic Card

In [502]:
print(type(ps_4))

<class '__main__.play_station'>

In [503]:
play_station.start(ps_4)

press the start key

In [499]:
ps_4.features_4()

intel_processor, 32_gb RAM, 10_gb Graphic Card

In [504]:
ps_4.start()

press the start key

In [505]:
ps_4_pro = play_station()

In [506]:
play_station.start(ps_4_pro)

press the start key

In [511]:
class mahindra_ashvita:
    def E_block(self):
        print("E_904 is where i live")
    def b_block(self):
        print("where i supposed to live")

In [512]:
m_a = mahindra_ashvita()

In [513]:
mahindra_ashvita.E_block(m_a)

E_904 is where i live

In [514]:
m_a.E_block()

E_904 is where i live

In [515]:
m_a.b_block()

where i supposed to live

# __INIT__ METHOD

### Why init : - It's is so called "special methos", Initializer/ to initialize the variable, etc... 
### Let me explain what exactly I understood for the INIT method. There is this concept call constructor which takes the arguments/variables in the class while assigning it to the object. It should store the object (attributes and methods) in the "Heap Memory" inside our computer. Unfortunately, it dosen't know how much volume/ space it requires for this object. For this it asks "init method" that "hey init, how many variables are there". According to this it allocates space. We can say "init" is a constructor.
### So for this reason, whatever the variables/attributes you have,  you have to  initialize them first. So that it helps in constructing the memory automatically.

In [545]:
class Bike:
    
    def __init__(self,engine,bhp,millage):
        self.engine = engine
        self.bhp = bhp
        self.millage = millage
    
    def ktm(self):
        print("properties of ktm are", self.engine, self.bhp, self.millage)
        
    def pulser(self):
        print("properties of pulser are", self.engine, self.bhp, self.millage)
        
    def honda():
        print("properties of honda are", self.engine, self.bhp, self.millage)

In [546]:
motor1 = Bike("2s",45,25)
motor2 = Bike("2s",38,45)
motor3 = Bike("2s",30,60)

In [547]:
Bike.ktm(motor1)

properties of ktm are 2s 45 25

In [548]:
Bike.pulser(motor2)

properties of pulser are 2s 38 45

In [549]:
motor1.ktm()

properties of ktm are 2s 45 25

In [550]:
motor2.pulser()

properties of pulser are 2s 38 45

In [541]:
motor3.honda()

TypeError: honda() takes 0 positional arguments but 1 was given

In [591]:
class Computer:
    
    def __init__(self):
        self.name = "basu"
        self.age = "24"
    
    def update(self):
        self.age = 30
        
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False

In [592]:
cog1 = Computer()
cog2 = Computer()

In [593]:
print(cog1.name)
print(cog2.name)

basu
basu

In [594]:
cog1.name = "janu"
cog1.age = 24

In [595]:
print(cog1.name)
print(cog1.age)
print(cog2.name)
print(cog2.age)

janu
24
basu
24

In [596]:
"""cog1.update()"""

'cog1.update()'

In [597]:
print(cog1.age)
print(cog2.age)

24
24

In [598]:
if cog1.compare(cog2):
    print("they are same")

In [600]:
print(cog2.compare(cog1))

False

# Variables in Python

### 1) Instance Variable: - This variable has been defined inside the instance (__init__). It can be immutable anywhere in the code. But, its change dosen't affect the other variables inside the instance.
### 2) Class Variable/ Static Variables: - This has been mentioned outside the initiance. It can also be immutable anywhere in the code. But, its change dose affect the entire methods variables in that class.

In [610]:
class panipuri:
    
    mint = 100
    
    def __init__(self):
        self.bitter = 5
        self.sweet = 10
        self.creemy = 50

In [611]:
pp1 = panipuri()
pp2 = panipuri()

pp1.sweet=40

In [613]:
print(pp1.bitter,pp1.sweet,pp1.creemy,pp1.mint)
print(pp2.bitter,pp2.sweet,pp2.creemy,pp2.mint)

5 40 50 100
5 10 50 100

In [618]:
panipuri.mint = 150
panipuri.bitter = 50

In [619]:
print(pp1.bitter,pp1.sweet,pp1.creemy,pp1.mint)
print(pp2.bitter,pp2.sweet,pp2.creemy,pp2.mint)

5 40 50 150
5 10 50 150

# Types of Methods

### 1) Instance Method: - It works with instance variables. In here, we have two types of methods: - a) Accesors (just to fletch the values) and b) Mutators (simply to change the values)
### 2) Class Methos: - It works with Class Variables.
### 3)Static Method: - If you have nothing to do with Class variables and Instance variables then go with this method.

In [675]:
class students:
    
    Dept = "DataSciences"
    
    def __init__(self,m1, m2, m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        
    def total(self):
        return self.m1+self.m2+self.m3
        
    def percentages(self,total = 500):
        return ((self.m1+self.m2+self.m3)/total)*100
    
    def avg(self):
        return (self.m1+self.m2+self.m3)/3
    
    @classmethod
    def get_dept(cls):
        return cls.Dept
    
    @staticmethod
    def div(num):
        return num%2
    
    def get_m1(self):
        return self.m1
    def set_m1(self,value):
        self.m1 = value

In [670]:
stu1 = students(50, 67, 25)
stu2 = students(75, 80, 97)
stu3 = students(67, 84, 72)

In [668]:
students.get_dept()

'DataSciences'

In [646]:
stu1.total()

142

In [647]:
stu1.avg()

47.333333333333336

In [648]:
stu1.percentages()

28.4

In [672]:
students.div(3)

1

### Class inside a Class

### You can create the opject of inner class inside the outer class or you can create the object of inner class outside the outer class, provided you use the outer class name to it.

In [1]:
class student:
    
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll
        self.lap = self.laptop()
        
        
    def show(self):
        print(self.name, self.roll)
        self.lap.show()
        
        
        
    class laptop:
        
        def __init__(self):
            self.brand = "Dell"
            self.processor = "i7"
            self.ram = 16
            self.graphic = 4
            
        def show(self):
            print(self.brand, self.processor, self.ram, self.graphic)

In [2]:
s1 = student("basu", "14R21A0384")
s2 = student("janu","13R21A0384")
s1.show()
s2.show()

basu 14R21A0384
Dell i7 16 4
janu 13R21A0384
Dell i7 16 4

In [14]:
print(s1.name,s1.roll)
print(s2.name,s2.roll)

basu 14R21A0384
janu 13R21A0384

In [15]:
s1.show()
s2.show()

basu 14R21A0384
Dell i7 16 4
janu 13R21A0384
Dell i7 16 4

In [22]:
l1 = student.laptop()
l2 = student.laptop()

In [25]:
l1.show()
l2.show()

Dell i7 16 4
Dell i7 16 4

In [26]:
l3 = s1.lap
l4 = s2.lap

In [27]:
l3.show()
l4.show()

Dell i7 16 4
Dell i7 16 4

In [16]:
"""class student:
    
    def __init__(self, name, roll):
        self.name = name
        self.roll = roll
        self.lap = self.laptop()
        
        
    def show(self):
        print(self.name, self.roll)
        self.lap.show()
        
        
        
    class laptop:
        
        def __init__(self, brand, processor, ram, graphic):
            self.brand = brand
            self.processor = processor
            self.ram = ram
            self.graphic = graphic
            
        def show(self):
            print(self.brand, self.processor, self.ram, self.graphic)
            
"""
"""
I'm attempting to assign dynamic variables to the inner class. but it's not happening. but we can abble to give static variables to the inner class.

"""

"\nI'm attempting to assign dynamic variables to the inner class. but it's not happening. but we can abble to give static variables to the inner class.\n\n"